.home-container {
  min-height: 100vh;
  margin-left: 19rem;
  width: calc(100% - 19rem);
  margin-top: 5rem;
  /* background-color: blue; */
}

.search-bar-container {

  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.search-bar-container input {
  max-width: 380px;
  width: 100%;
  font: inherit;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ececec;
}

.search-bar-container input:focus {
  outline: none;
}

.home-inner {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.home-inner-no-product-found {
  margin-left: 30rem;
  margin-top: 10rem;
  gap: 1rem;
  display: grid;
  place-items: center;
}

.no-product-found {
  font-size: large;
  font-weight: 600;
  /* display: block;
  margin-left: auto;
  margin-right: auto */
}

.no-product-emoji {
  font-size: 2rem;
  font-weight: 600;
  font-size: 2rem;
  color: red;
}

.checkout-container {

  margin-top: 4.5rem;
  border: 2rem, solid, aqua;
  /* display: grid;
  place-items: center; */
  display: flex;
  justify-content: center;
  background-color: violet;
}


.cart-container {
  width: 100%;
}

.cart-items {
  margin: 6rem 6rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cart-item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cart-item img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid black;
}

.product-details-cart {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
}

.quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.inc-dec-btn {
  font: inherit;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: #f1eff0;
  font-size: 1.3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.quantity span {
  font-weight: 500;
}

.quantity-left {
  min-width: 12rem
}

.delete-btn {
  font: inherit;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(255, 111, 111);
  color: rgb(255, 111, 111);
  ;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: rgb(255, 111, 111);
  color: white;
}

.total-price {
  border-top: 2px solid black;
  margin-top: 4rem;
}

.total-price h3 {
  margin-top: 1rem;
}

.out {
  color: red
}

.quantity-left {
  font-style: italic;
  color: #858585;
  font-weight: 200;
}

.empty-cart {
  width: 15%;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

}

.empty-cart-emoji {
  font-size: 10rem;
  color: red;
  align-items: center;
}

.empty-cart-text {
  /* alig */
  /* text-align: center; */
  text-align: auto;
  font-weight: 600;
}

.quantity button:disabled {
  cursor: not-allowed;
}

.search-icon {
  padding: 2px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

.filter {
  padding: 2px;
  display: none;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width:500px) {
  .side-nav-container {
    display: none;
  }

  .filter-clicked {
    margin: 1rem;
    display: block;
    position: fixed;
    width: 90vw;
    top: 8rem;
    background-color: #ecf8fc;
    border-radius: 20px 0 20px 0;
    border: 1px solid #648996;
  }

  .home-container {
    min-height: 100vh;
    margin-left: 1rem;
    width: 100vw;
    margin-top: 5rem;
  }

  /* .cart-container {
    width: 30%;
  } */

  .cart-items {
    margin-top: 4rem;
    margin-left: 10px;
    width: 50 vw;
    display: flex;
    flex-direction: column;
  }

  .home-inner-no-product-found {
    margin-left: 5rem;
    margin-top: 4rem;
    margin-right: 4rem;
    gap: 1rem;
    display: grid;
    place-items: center;
  }

  .no-product-found {
    font-size: large;
    font-weight: 600;
    /* display: block;
    margin-left: auto;
    margin-right: auto */
  }

  .no-product-emoji {
    font-weight: 40;
    font-size: 1rem;
    color: red;
  }

  .empty-cart {
    width: 7vh;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

  }

  .empty-cart-emoji {
    font-size: 2rem;
    color: red;
    align-items: center;
  }

  .empty-cart-text {
    text-align: auto;
    font-weight: 600;
  }

  .search-bar-container {
    gap: 5px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5rem;
    display: flex;

    justify-content: space-between;
    gap: 20px;
  }

  .search-bar-container input {
    margin-right: 2rem;
    /* max-width: 380px;
    min-width: 2rem; */
    width: 90%;
    font: inherit;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ececec;
  }

  .filter {
    display: block;
  }

  .products {
    display: none;
  }
}